@media (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  #nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    flex-grow: 1;
    justify-content: flex-end;
  }

  #nav-links li, 
  #nav-links li:not(:first-child) {
    display: block;
    width: auto;
  }

  #nav-links a,
  #nav-links a:link,
  #nav-links a:visited {
    border-top: none;
    margin-left: 1.5rem;
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--text-light);
  }

  #nav-links a:hover {
    background-color: var(--nav-active);
  }

  #nav-links a.active {
    background: none;
    border-bottom: 2px solid var(--text-light);
    border-radius: 0;
  }

  #temple-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}
